{% extends 'base.html.twig' %}

{% block title %}Series index
{% endblock %}

{% block body %}
	<h1>Series index</h1>
	<form action="{{ path('series_index') }}"  method="post">
				<select multiple name="option">
			<option> Genre </option>
			<option> Year Start </option>
			<option> Best Rates </option>
			<option> </option>
			<option> Aucun </option>


    	</select>
    	<input type="submit" value="confirm" onClick=" {{ path('series_index') }}">
    </form>
	{% if printable is not same as("") %}
     <h1> Voici toutes les séries contenant "{{printable}}" </h1>
	{% endif %}	

	
	
	
	<table class="table">
		<thead>
			<tr>
				<th>Title</th>
				<th>Plot</th>
				<th>Poster</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for series in series %}
				<tr>
					<td>{{ series.title }}</td>

					<td>{{ series.plot }}</td>
        			<td><img src="data:image/jpeg;base64,{{ series.poster }}"></td>
					<td>
						<a class="actions" href="{{ path('series_show', {'id': series.id}, 'relative = true') }}">Voir plus</a>
					</td>
				</tr>
			{% else %}
				
					<p>Pas de série trouvé</p>
				
			{% endfor %}
		</tbody>
	</table>
		<div class="navigation">
            {{ knp_pagination_render(series) }}
        </div>
{% endblock %}
