{% extends 'base.html.twig' %}

{% block title %}Series index{% endblock %}

{% block body %}
    <h1>Series index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Plot</th>
                <th>Poster</th>
                <th>Awards</th>
                <th>YearStart</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for series in series %}
            <tr>
                <td>{{ series.title }}</td>
                <td>{{ series.plot }}</td>
                <td>{{ series.poster }}</td>
                <td>{{ series.awards }}</td>
                <td>{{ series.yearStart }}</td>
                <td>
                    <a href="{{ path('series_show', {'id': series.id}) }}">show</a>
                    <a href="{{ path('series_edit', {'id': series.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('series_new') }}">Create new</a>
{% endblock %}
