{% extends 'base.html.twig' %}

{% block title %}Series
{% endblock %}

{% block body %}
	<h1>Series</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ series.id }}</td>
			</tr>
			{% if user is defined %}
				<tr>
					<th>My list</th>
					<td>
						{% if series in user.series %}
							{% set isIn = 'remove' %}
							{{ include('series/_myList_form.html.twig') }}
						{% else %}
							{% set isIn = 'add' %}
							{{ include('series/_myList_form.html.twig') }}
						{% endif %}
					</td>
				</tr>
			{% endif %}
			<tr>
				<th>Title</th>
				<td>{{ series.title }}</td>
			</tr>
			<tr>
				<th>Plot</th>
				<td>{{ series.plot }}</td>
			</tr>
			<tr>
				<th>Lien vers la fiche IMDB</th>
				<td>
					<a href="https://www.imdb.com/title/{{ series.imdb }}">Cliquez ici !</a>
				</td>
			</tr>
			<tr>
				<th>Poster</th>
				<td>
					{% for image in images %}
						<img src="data:image/jpeg;base64,{{ image.poster }}">
					{% endfor %}
				</td>
			</tr>
			{% if series.director %}
				<tr>
					<th>Director</th>
					<td>{{ series.director }}</td>
				</tr>
			{% endif %}
			{% if series.actor %}
				<tr>
					<th>Actors :</th>
					<td>
						{% for act in series.actor %}
							{{ act.name }}
							|
						{% endfor %}
					</td>
				</tr>
			{% endif %}
			{% if series.country %}
				<tr>
					<th>Country :</th>
					<td>
						{% for count in series.country %}
							{{ count.name }}
						{% endfor %}
					</td>
				</tr>
			{% endif %}
			{% if series.genre %}
				<tr>
					<th>Genre :</th>
					<td>
						{% for count in series.genre %}
							{{ count.name }}
						{% endfor %}
					</td>
				</tr>
			{% endif %}
			<tr>
				<th>YoutubeTrailer</th>
				<td>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ series.youtubeTrailer }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</td>
			</tr>
			<tr>
				<th>Awards</th>
				<td>{{ series.awards }}</td>
			</tr>
			<tr>
				<th>YearStart :
				</th>
				<td>{{ series.yearStart }}</td>
			</tr>
			{% if series.yearEnd %}
				<tr>
					<th>YearEnd :
					</th>
					<td>{{ series.yearEnd }}</td>
				</tr>
			{% endif %}
			<tr>
				<th>Saisons :
				</th>
				<td>
					{% for i in 1..seasons|length %}
						<a href="{{path('index_episode_show',{'id': series.id, 'numSaison': i })}}">Saison
							{{ i }}</br>
					</a>
				{% endfor %}
			</tr>
			<tr>
				<th>User reviews :
				</th>
				<td>
					{% set alreadyRate = false %}
					{% set sum = 0 %}
					{% for val in rating %}
						{% set sum = sum + val.value %}
						{% if user is defined %}
							{% if val.user == user %}
								{% set alreadyRate = true %}
							{% endif %}
						{% endif %}
					{% endfor %}
					{% if rating|length == 0 %}
						{% set sum = 'No user have review this serie yet' %}
						{{ sum }}
					{% else %}
						{% set sum = sum / rating|length %}
						<h4>Rating :</h4>
						<p>{{ sum }}/5</p>
						<h4>Comment :</h4>
						{% for val in rating %}
							<p>{{ val.user.name }}
								:
								{{ val.value }}/5 :
								{{ val.comment }}</p>
							{% if user is defined %}
								{% if user.admin == true %}
									<form action="{{path('rating_delete', {'id': val.id})}}">
										<input type="submit" value="Delete this comment" class="search" onclick="{{path('rating_delete', {'id': val.id})}}">
									</form>
								{% endif %}
							{% endif %}
						{% endfor %}
					{% endif %}
				</td>
			</tr>
		</tbody>
	</td>
</tr>
<tr>
	<th>Add reviews :
	</th>
	{% if user is defined %}
		<td>
			{% if alreadyRate %}
				<p>You already gave a grade</p>
			{% else %}
				{{ include('series/_form.html.twig') }}
			{% endif %}
		</td>
	{% else %}
		<td>
			<a href="{{ path('app_login') }}">You have to login to let a review.</a>
		</td>
	{% endif %}
</tr></tbody></td></tr></tbody></td></tr></tbody></table></br><a href="{{ path('series_index') }}">Retour à la liste des séries</a> </br></br>{{ include('series/_delete_form.html.twig') }}{% endblock %}
